{% extends 'head.html' %} {% block body %}

<div class="container">

  <!-- Editar palabra -->
  <p class="display-6 text-white pt-4 pb-2">Editar Palabra</p>
	<!-- redirigimos a /words/update/id -->
  <form action="/words/update/{{word[0]}}" method="PATCH">
    <div class="row">
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Español"
          name="spanish"
          value="{{word[1]}}"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Inglés"
          name="english"
          value="{{word[2]}}"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Italiano"
          name="italian"
          value="{{word[3]}}"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Catalán"
          name="catalan"
          value="{{word[4]}}"
        />
      </div>
      <div class="col">
        <button type="submit" class="btn btn-warning boton text-white">
          Enviar
        </button>
      </div>
    </div>
  </form>
  <!-- Fin editar palabra -->

  <!-- Mostrar palabras de la DB -->
  <div class="row justify-content-center pt-4">
    <div class="col-5 text-center">
      <table class="table text-white table-borderless">
        <thead>
          <tr>
            <th>Español</th>
            <th>Inglés</th>
            <th>Italiano</th>
            <th>Catalán</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for word in words %}
          <tr>
            <td scope="row">{{word[1].capitalize()}}</td>
            <td>{{word[2].capitalize()}}</td>
            <td>{{word[3].capitalize()}}</td>
            <td>{{word[4].capitalize()}}</td>
            <!-- boton editar -->
            <td class="p-0">
              <a
                href="/words/edit/{{word[0]}}"
                class="btn btn-warning boton text-white btn-sm"
              >
                Editar
              </a>
            </td>
            <!-- boton eliminar -->
            <td class="p-0">
              <a
                href="/words/delete/{{word[0]}}"
                class="btn btn-danger text-white fw-bold btn-sm"
              >
                Eliminar
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock body %}